<section class="section-covers" id="covers">
    <h2 class="covers-title visually-hidden">Covers and Projects</h2>
    <ul class="marquee-container">
        <li class="marquee-row">
            <img class="covers-img" srcset="./img/covers/rectangle-1-1x.jpg 1x, ./img/covers/rectangle-1-2x.jpg 2x"
                alt="Project 1">
            <img class="covers-img" srcset="./img/covers/rectangle-2-1x.jpg 1x, ./img/covers/rectangle-2-2x.jpg 2x"
                alt="Project 2">
            <img class="covers-img" srcset="./img/covers/rectangle-3-1x.jpg 1x, ./img/covers/rectangle-3-2x.jpg 2x"
                alt="Project 3">
            <img class="covers-img" srcset="./img/covers/rectangle-4-1x.jpg 1x, ./img/covers/rectangle-4-2x.jpg 2x"
                alt="Project 4">
            <img class="covers-img" srcset="./img/covers/rectangle-5-1x.jpg 1x, ./img/covers/rectangle-5-2x.jpg 2x"
                alt="Project 5">
            <img class="covers-img" srcset="./img/covers/rectangle-6-1x.jpg 1x, ./img/covers/rectangle-6-2x.jpg 2x"
                alt="Project 6">
            <img class="covers-img" srcset="./img/covers/rectangle-7-1x.jpg 1x, ./img/covers/rectangle-7-2x.jpg 2x"
                alt="Project 7">
            <img class="covers-img" srcset="./img/covers/rectangle-8-1x.jpg 1x, ./img/covers/rectangle-8-2x.jpg 2x"
                alt="Project 8">
            <img class="covers-img" srcset="./img/covers/rectangle-9-1x.jpg 1x, ./img/covers/rectangle-9-2x.jpg 2x"
                alt="Project 9">
            <img class="covers-img" srcset="./img/covers/rectangle-10-1x.jpg 1x, ./img/covers/rectangle-10-2x.jpg 2x"
                alt="Project 10">
        </li>
        <li class="marquee-row row-reversed">
            <img class="covers-img" srcset="./img/covers/rectangle-1-1x.jpg 1x, ./img/covers/rectangle-1-2x.jpg 2x"
                alt="Project 1">
            <img class="covers-img" srcset="./img/covers/rectangle-2-1x.jpg 1x, ./img/covers/rectangle-2-2x.jpg 2x"
                alt="Project 2">
            <img class="covers-img" srcset="./img/covers/rectangle-3-1x.jpg 1x, ./img/covers/rectangle-3-2x.jpg 2x"
                alt="Project 3">
            <img class="covers-img" srcset="./img/covers/rectangle-4-1x.jpg 1x, ./img/covers/rectangle-4-2x.jpg 2x"
                alt="Project 4">
            <img class="covers-img" srcset="./img/covers/rectangle-5-1x.jpg 1x, ./img/covers/rectangle-5-2x.jpg 2x"
                alt="Project 5">
            <img class="covers-img" srcset="./img/covers/rectangle-6-1x.jpg 1x, ./img/covers/rectangle-6-2x.jpg 2x"
                alt="Project 6">
            <img class="covers-img" srcset="./img/covers/rectangle-7-1x.jpg 1x, ./img/covers/rectangle-7-2x.jpg 2x"
                alt="Project 7">
            <img class="covers-img" srcset="./img/covers/rectangle-8-1x.jpg 1x, ./img/covers/rectangle-8-2x.jpg 2x"
                alt="Project 8">
            <img class="covers-img" srcset="./img/covers/rectangle-9-1x.jpg 1x, ./img/covers/rectangle-9-2x.jpg 2x"
                alt="Project 9">
            <img class="covers-img" srcset="./img/covers/rectangle-10-1x.jpg 1x, ./img/covers/rectangle-10-2x.jpg 2x"
                alt="Project 10">
        </li>
        <li class="marquee-row">
            <img class="covers-img" srcset="./img/covers/rectangle-1-1x.jpg 1x, ./img/covers/rectangle-1-2x.jpg 2x"
                alt="Project 1">
            <img class="covers-img" srcset="./img/covers/rectangle-2-1x.jpg 1x, ./img/covers/rectangle-2-2x.jpg 2x"
                alt="Project 2">
            <img class="covers-img" srcset="./img/covers/rectangle-3-1x.jpg 1x, ./img/covers/rectangle-3-2x.jpg 2x"
                alt="Project 3">
            <img class="covers-img" srcset="./img/covers/rectangle-4-1x.jpg 1x, ./img/covers/rectangle-4-2x.jpg 2x"
                alt="Project 4">
            <img class="covers-img" srcset="./img/covers/rectangle-5-1x.jpg 1x, ./img/covers/rectangle-5-2x.jpg 2x"
                alt="Project 5">
            <img class="covers-img" srcset="./img/covers/rectangle-6-1x.jpg 1x, ./img/covers/rectangle-6-2x.jpg 2x"
                alt="Project 6">
            <img class="covers-img" srcset="./img/covers/rectangle-7-1x.jpg 1x, ./img/covers/rectangle-7-2x.jpg 2x"
                alt="Project 7">
            <img class="covers-img" srcset="./img/covers/rectangle-8-1x.jpg 1x, ./img/covers/rectangle-8-2x.jpg 2x"
                alt="Project 8">
            <img class="covers-img" srcset="./img/covers/rectangle-9-1x.jpg 1x, ./img/covers/rectangle-9-2x.jpg 2x"
                alt="Project 9">
            <img class="covers-img" srcset="./img/covers/rectangle-10-1x.jpg 1x, ./img/covers/rectangle-10-2x.jpg 2x"
                alt="Project 10">
        </li>
        <li class="marquee-row row-reversed">
            <img class="covers-img" srcset="./img/covers/rectangle-1-1x.jpg 1x, ./img/covers/rectangle-1-2x.jpg 2x"
                alt="Project 1">
            <img class="covers-img" srcset="./img/covers/rectangle-2-1x.jpg 1x, ./img/covers/rectangle-2-2x.jpg 2x"
                alt="Project 2">
            <img class="covers-img" srcset="./img/covers/rectangle-3-1x.jpg 1x, ./img/covers/rectangle-3-2x.jpg 2x"
                alt="Project 3">
            <img class="covers-img" srcset="./img/covers/rectangle-4-1x.jpg 1x, ./img/covers/rectangle-4-2x.jpg 2x"
                alt="Project 4">
            <img class="covers-img" srcset="./img/covers/rectangle-5-1x.jpg 1x, ./img/covers/rectangle-5-2x.jpg 2x"
                alt="Project 5">
            <img class="covers-img" srcset="./img/covers/rectangle-6-1x.jpg 1x, ./img/covers/rectangle-6-2x.jpg 2x"
                alt="Project 6">
            <img class="covers-img" srcset="./img/covers/rectangle-7-1x.jpg 1x, ./img/covers/rectangle-7-2x.jpg 2x"
                alt="Project 7">
            <img class="covers-img" srcset="./img/covers/rectangle-8-1x.jpg 1x, ./img/covers/rectangle-8-2x.jpg 2x"
                alt="Project 8">
            <img class="covers-img" srcset="./img/covers/rectangle-9-1x.jpg 1x, ./img/covers/rectangle-9-2x.jpg 2x"
                alt="Project 9">
            <img class="covers-img" srcset="./img/covers/rectangle-10-1x.jpg 1x, ./img/covers/rectangle-10-2x.jpg 2x"
                alt="Project 10">
        </li>
        <li class="marquee-row">
            <img class="covers-img" srcset="./img/covers/rectangle-1-1x.jpg 1x, ./img/covers/rectangle-1-2x.jpg 2x"
                alt="Project 1">
            <img class="covers-img" srcset="./img/covers/rectangle-2-1x.jpg 1x, ./img/covers/rectangle-2-2x.jpg 2x"
                alt="Project 2">
            <img class="covers-img" srcset="./img/covers/rectangle-3-1x.jpg 1x, ./img/covers/rectangle-3-2x.jpg 2x"
                alt="Project 3">
            <img class="covers-img" srcset="./img/covers/rectangle-4-1x.jpg 1x, ./img/covers/rectangle-4-2x.jpg 2x"
                alt="Project 4">
            <img class="covers-img" srcset="./img/covers/rectangle-5-1x.jpg 1x, ./img/covers/rectangle-5-2x.jpg 2x"
                alt="Project 5">
            <img class="covers-img" srcset="./img/covers/rectangle-6-1x.jpg 1x, ./img/covers/rectangle-6-2x.jpg 2x"
                alt="Project 6">
            <img class="covers-img" srcset="./img/covers/rectangle-7-1x.jpg 1x, ./img/covers/rectangle-7-2x.jpg 2x"
                alt="Project 7">
            <img class="covers-img" srcset="./img/covers/rectangle-8-1x.jpg 1x, ./img/covers/rectangle-8-2x.jpg 2x"
                alt="Project 8">
            <img class="covers-img" srcset="./img/covers/rectangle-9-1x.jpg 1x, ./img/covers/rectangle-9-2x.jpg 2x"
                alt="Project 9">
            <img class="covers-img" srcset="./img/covers/rectangle-10-1x.jpg 1x, ./img/covers/rectangle-10-2x.jpg 2x"
                alt="Project 10">
        </li>
    </ul>
</section>