<section class="hero">
    <div class="container">
        <h1 class="hero-title">Hello.<br> 
            I’m Fullstack developer 
            Lloyd Jefferson.</h1>
            <ul class="hero-list">
                <li class="hero-item"><a href="https://www.instagram.com/goitclub/" class="hero-link">IG</a></li>
                <li class="hero-item"><a href="https://www.facebook.com/goITclub/" class="hero-link">FB</a></li>
                <li class="hero-item"><a href="https://www.youtube.com/c/GoIT" class="hero-link">YT</a></li>
                <li class="hero-item"><a href="https://github.com/Psyche-1/bestteam2" class="hero-link">GH</a></li>
                <li class="hero-item-email"><a href="mailto:lloydjefferson@gmail.com" class="hero-link">lloydjefferson@gmail.com</a></li>
            </ul>
    </div>
</section>