<section id="projects" class="projects">
  <div class="container">
    <h2 class="projects-title">Projects</h2>
    <div class="projects-swiper">
      <ul class="projects-list swiper-wrapper"></ul>
    </div>
    <div class="projects-buttons">
      <button class="button-prev projects-button">
        <svg class="projects-button-icon">
          <use href="./img/icons.svg#icon-icon-left"></use>
        </svg>
      </button>
      <button class="button-next projects-button">
        <svg class="projects-button-icon">
          <use href="./img/icons.svg#icon-icon-right"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
