<section id="reviews" class="sec-reviews">
  <div class="container reviews-container">
    <h2 class="reviews-title">Reviews</h2>
    <div class="swiper">
      <div class="swiper-wrapper reviews-list"></div>
    </div>
    <div class="btn-reviews-container">
      <button class="prev-btn">
        <svg width="24" height="24" class="icon-arrow-button">
          <use href="./img/icons.svg#icon-icon-left"></use>
        </svg>
      </button>
      <button class="next-btn">
        <svg width="24" height="24" class="icon-arrow-button">
          <use href="./img/icons.svg#icon-icon-right"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
