<footer class="footer work-together" id="work-together">
  <div>
    <div class="together-container">
      <img class="togPng" src="./img/together.png" alt="together" />
      <h2 class="together--text">
        LET’S <span class="together--redText">WORK</span>
      </h2>
    </div>
    <h2 class="together--text togetheer-textTwo">TOGETHER</h2>
  </div>
  <form class="form-together" id="form-together">
    <input
      class="together-input together-input--one"
      id="together-input--email"
      type="email"
      placeholder="clients@gmail.com"
      required
      pattern="^\w+(\.\w+)?@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$"
    />
    <input
      class="together-input together-input--two"
      id="together-input--comments"
      type="text"
      placeholder="comments"
      maxlength="100"
    />
    <button class="togetger-button" type="submit">Send</button>
  </form>
  <a
    class="together-link together-link--one"
    href="mailto:lloydjefferson@gmail.com"
    target="_blank"
    >lloydjefferson@gmail.com</a
  >
  <a
    class="together-link together-link--two"
    href="tel:+3801111111111"
    target="_blank"
    >+380 11 1111 11 11</a
  >
  <div class="modal-overlay" id="modalOverlay"></div>
  <div class="modal" id="successModal">
    <div class="modal-content" id="responseModal">
      <span class="close-button" id="closeModal">&times;</span>
      <p id="modalMessage"></p>
    </div>
  </div>
</footer>
